name: .NET Core

on:
  push:
    branches:
      - main
    paths:
      - '**'
      - '!**.md'
      - '.github/workflows/*.yml'
  pull_request:
    branches: [ main ]

env:
  DOTNET_VERSION: '9.0.x'
  PACKAGE_VERSION: 3.3.1

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ env.DOTNET_VERSION }}
                    
    - name: Restore dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Release --no-restore

    - name: Test
      run: dotnet test --no-restore --verbosity normal

    - name: Publish Nuget Package
      run: dotnet nuget push /home/runner/work/Puffix.IoC.Configuration/Puffix.IoC.Configuration/Puffix.IoC.Configuration/bin/Release/Puffix.IoC.Configuration.${{ env.PACKAGE_VERSION }}.nupkg --api-key ${{ secrets.NUGET_API_KEY }} --source https://api.nuget.org/v3/index.json --skip-duplicate
